@model Blog.Core.Post


<table class="table">
    <thead>
        <legend>Изменить пост</legend>
    </thead>
    <tbody>
        <form action="EditPost" method="POST">
            <tr>
                <td>@Html.DisplayNameFor(p=>p.Title)</td>
                <td>@Html.EditorFor(p => p.Title)</td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(p=>p.Description)
                </td>
                <td>
                    <textarea style = "width:100%; height: 4em" asp-for="Description"></textarea>
                </td>
            </tr>
            <tr>
                <td><label>Теги</label></td>
                <td>
                    <textarea style = "width:100%; height: 4em" name="tags">@ViewData["Tags"]</textarea>
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(p=>p.Body)</td>
                <td>
                    <textarea asp-for="Body" style = "width:100%; height: 20em">
                        @Model.Body
                    </textarea>
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(p=>p.Category)</td>
                <td>
                    @Html.DropDownListFor(p=>p.CategoryId, ViewData["Categories"] as SelectList)
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input class="btn btn-outline-dark" type="submit" value="Изменить"/>
                    <a class="btn btn-outline-danger" asp-controller="Home" asp-action="DeletePost" 
                        asp-route-id="@Model.Id">Удалить</a>
                </td>
                <input asp-for="Id" type="hidden" value="@Model.Id"/>
                <input asp-for="Created" type="hidden" value="@Model.Created">
            </tr>
        </form>
    </tbody>
</table>