@model IEnumerable<Blog.Core.Post>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    @foreach(var p in Model)
    {
      <div class="container" style="width: 80%">
          <h1 class="text-center" style="font-family: 'Merriweather', serif">@p.Title</h1>
          <div class="post-meta">
            <time>@p.Created</time>
            <span>@p.Category.Name</span>
          </div>
          <hr/>
              <p class="post-body">
                @p.Body
              </p>
              <div style="display:flex; justify-content: space-between">
              <a class="btn btn-outline-dark" asp-controller="Home" asp-action="EditPost" asp-route-id="@p.Id" >Edit Post</a>
              @if(@p.Modified)
              {
                  <span style="color: #999">(Изменено)</span>
              }
              else
              {
                  <span class="text-sm-right"></span>
              }
              </div>
      </div>  
    }
</div>
